.main-chat__message-list__message{data: {message: {id: message.id}}}
  .main-chat__message-list__message__info
    .main-chat__message-list__message__info--name
      = message.user.name
    .main-chat__message-list__message__info--time
      = message.created_at.to_s(:default)
  .main-chat__message-list__message__lower-message
    - if message.content.present?
      .main-chat__message-list__message__lower-message__content
        = message.content
    = image_tag message.image.url, class: 'main-chat__message-list__message__lower-message__image' if message.image.present?