.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        masa
      .side-bar__user-name__top-items__icons
        =link_to '#' do
          = icon('far', 'edit', class: 'side-bar__user-name__top-items__icons__edit')
          %span<>
        = link_to '#' do
          = icon('fas', 'cog', class: 'side-bar__user-name__top-items__icons__cog')
  .side-bar__group-list
    .side-bar__group-list__group1
      .side-bar__group-list__group1--name
        techcamp
      .side-bar__group-list__group1--message
        no message