.main-chat {
  width: calc(100vw - 300px);
  height: 100vh;
  display: block;
  &__group-info {
    background-color: $mainWhiteColor;
    height: 101px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    &__items {
      padding-top: 35px;
      &--name {
        color: $textBlackColor;
        font-size: 20px;
        padding-bottom: 15px;
      }
      &--members {
        color: $textGrayColor;
        font-size: 12px;
      }
    }
    &__edit {
      margin-top: 28px;
      padding: 0px 20px;
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      border: solid 1px $submitBlueColor;
    }
    &__edit-btn {
      color: $submitBlueColor;
      text-decoration: none;
    }
  }
  &__message-list {
    background-color: #fafafa;
    height: calc( 100vh - 101px - 90px);
    padding: 35px 0px 0px 40px;
    &__message {
      display: block;
      &__info {
        display: flex;
        padding-bottom: 12px;
        &--name {
          color: $textBlackColor;
          font-size: 16px;
          align-items: center;
        }
        &--time {
          color: $textGrayColor;
          font-size: 12px;
          margin-left: 5px;
        }
      }
      &__text {
        color: #434A54;
        font-size: 14px;
        padding-bottom: 46px;
      }
    }
  }
  &__message-send {
    background-color: #d2d2d2;
    height: 90px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    &__new {
      height: 50px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__form {
        background-color: $mainWhiteColor;
        width: 100%;
        position: relative;
        &--text {
          color: $textGrayColor;
          line-height: 50px;
          padding: 0px 40px 0px 10px;
        }
        &--image {
          position: absolute;
          right: 10px;
          top: 15px;
          input {
            display: none;
          }
        }
      }
      &__send-btn {
        line-height: 50px;
        background-color: $submitBlueColor;
        color: $mainWhiteColor;
        margin-left: 15px;
        padding: 0px 30px;
      }
    }
  }
}