.main-chat {
  width: calc(100vw - 300px);
  float: left;
  &__group-info {
    background-color: $mainWhiteColor;
    height: 101px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    &__items {
      padding-top: 35px;
      &--name {
        color: $textBlackColor;
        font-size: 20px;
        padding-bottom: 15px;
      }
      &--members {
        color: $textGrayColor;
        font-size: 12px;
      }
    }
    &__edit {
      margin-top: 28px;
      padding: 0px 20px;
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      border: solid 1px $submitBlueColor;
    }
    &__edit-btn {
      color: $submitBlueColor;
      text-decoration: none;
    }
  }
  &__message-list {
    background-color: #fafafa;
    height: calc( 100vh - 101px - 90px);
    padding: 35px 40px;
    overflow: scroll;
    &__message {
      display: block;
      padding-bottom: 46px;
      &__info {
        display: flex;
        padding-bottom: 12px;
        &--name {
          color: $textBlackColor;
          font-size: 16px;
          align-items: center;
        }
        &--time {
          color: $textGrayColor;
          font-size: 12px;
          margin-left: 5px;
        }
      }
      &__lower-message {
        &__lower-message__content {
          color: #434A54;
          font-size: 14px;
          margin-bottom: 10px;
        }
        &__lower-message__image {
          border: 0;
        }
      }
    }
  }
  &__message-send {
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 40px;
    width: calc(100% - 300px);
    position: absolute;
    display: inline;
    bottom: 0;
    &__new {
      width: 100%;
      justify-content: center;
      position: relative;
      &__form {
        display: inline;
        position: relative;
        &--text {
          width: calc(100% - 115px);
          height: 50px;
          padding: 0px 40px 0px 10px;
          border-style: none;
        }
        &--image {
          line-height: 50px;
          position: absolute;
          right: 10px;
          &__input {
            display: none;
            width: 30px;
          }
        }
      }
    &__send-btn {
          width: 100px;
          height: 50px;
          background-color: $submitBlueColor;
          color: $mainWhiteColor;
          cursor: pointer;
      }
    }
  }
}